dist
worker
.solid
.vercel
.output

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# nix flake profiles are stored here;
# only relevant to local machines
.direnv/

# ignore cached timestamp files saved by solid-start
*.timestamp_*

.env
.env*
.vinxi/
.env*.local
